header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
}

.title {
  margin-right: auto;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.relative {
  position: relative;
}
.relative__img {
  margin: 10% 0 10% auto;
  display: block;
  width: 50%;
}
.main__text{
  position: absolute;
  top: 50%;
display: inline-block;
  font-size: 50px;
  z-index: -1;
}
.main__color{
  width: 1200px;
  height: 300px;
background-color: blue;
}